---
import type { Playlist } from '../lib/data.ts';
import CardPlayButton from './CardPlayButton.jsx';
interface Props {
    playlist: Playlist;
}
const { playlist } = Astro.props;
const { id, title, cover, artists } = playlist;

const Artists = artists.join(', ');
---
<article class="group relative bg-zinc-500/30 hover:bg-zinc-800 hover:shadow-xl rounded-md transition-all duration-300 ">
    <div class="absolute md:right-4 md:bottom-[5.5rem] right-2 bottom-14 translate-y-4 transition-all  duration-500 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 z-10 text-black">
        <CardPlayButton id={id} size="small" client:visible />

    </div>
    <a href={`/playlist/${id}`} class="playlist-item relative flex items-center md:gap-5 gap-2 pr-4 pl-2 pt-2 md:pl-4 pb-6 w-28 md:w-44 flex-col " transition:name=`playlist ${id} box`>
        <picture class="aspect-square w-30 md:w-full h-auto flex-none">
            <img src={cover} alt={title} class="w-full h-full object-cover rounded-md" transition:name=`playlist ${id} image` />
        </picture>
        <div class="flex flex-auto flex-col px-2">
            <h4 class="text-zinc-100 text-xs md:text-sm font-medium" transition:name=`playlist ${id} title`>
                {title}
            </h4>
            <span class="text-zinc-400 text-xxs md:text-xs hidden md:block" transition:name=`playlist ${id} artists`>
                {Artists}
            </span>
        </div>
    </a>

</article>
